*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    line-height: 1.4;
}

.product-img{
    float: left;
    margin-right: 40px;
}
/*PRODUCT*/
.product{
    border: 4px solid black;
    width: 825px;
    margin: 50px auto;
    position: relative;
}
.product-title{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding: 15px;
}
/*PRODUCT INFORMATION*/
.product-info{
/*(825-8-250-80)/2*/
width: 243px;
float: left;
margin-right: 40px;
margin-top: 20px;
}
.price{
    font-size: 24px;
    float: left;
}

.shipping{
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 20px;
    float: right;
    font-size: 12px;
    font-weight: bold;
    color:#777
    
    
}

.Sale{
    background-color: #ec2f2f;
    color:#fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 7px 15px;
    display: inline-block;
    position: absolute;
    top: -17px;
    left: -38px;
}

.product-description{
    clear: both;
    margin-bottom: 10px;

}
.more-info:link, .more-info:visited{
    color: black;
    display: inline-block;
}
.more-info:hover, .more-info:active{
    text-decoration: none;
}
/*PRODUCT DETAILS*/
.product-details{
width: 243px;
float: left;
}
.details-title{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 20px;

}
.details-list{
    list-style: square;
    margin-left: 20px;
}
.details-list li{
    margin-bottom: 10px;
}
/*BUTTON*/
.add-cart{
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 4px solid black;
}
.add-cart:hover{
    color:black;
    background-color: white;
}


.color{
    background-color: black;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}
.color-blue{
    background-color: blue;
}
.color-red{
    background-color: red;
}
.color-yellow{
    background-color: yellow;
}
.color-green{
    background-color: green;
}
.color-brown{
    background-color: brown;
}